* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url('../IMG/bg-pc.jpg');
    background-repeat: no-repeat;
    background-size:auto;

}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#bg-pic{
    position: absolute; 
    z-index: -2;
    size-adjust: 100%;
}

#personaje{
    position: absolute;
    bottom: 20%;
    animation: movimientoPersonaje 2s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes movimientoPersonaje {
0% {left: -20%; opacity: 0;}

100%{ left: 3%; opacity: 1;}
}

#personaje img{
    width: 100%;
}

#bocadillo{
    width: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    right: 5%;
    animation: movimientoBocadillo 2s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
    opacity: 0;
    border: 2px solid whitesmoke;
}

@keyframes movimientoBocadillo {
0% {opacity: 0;}

100%{opacity: 1;}
}

#bocadillo img{
    min-width: 250px;
    width: 40vw;
    border: 2px solid red;
}

#mensajeIntro{
    min-width: 240px;
    font-size: 12.9px;
    text-align: center;
    padding: 10% 10% 10% 10%;
    font-weight: 600;
    position: absolute;
    transform: translateY(-5%);
    border: 2px solid yellow;
}

#botonAdelante{
    width: 50%;
    background-color:  #FF1D0D; 
    min-width: 35vw;
    height: 6vh;
    border-radius: 20px;
    display: flex;
    position: absolute;
    bottom: -5%;
    animation: movimientoBoton 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBoton {
0% {bottom: -7%;}

100%{bottom: 10%;}
}

#botonAdelante button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
}

#botonAdelante button a{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (min-width:768px){

#personaje{
    top: 40%;
    width: 30%;
    left: 20%;
}

@keyframes movimientoPersonaje {
    0% {left: -20%; opacity: 0;}
    
    100%{ left: 10%; opacity: 1;}
    }    

#personaje img{
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

#bocadillo{
    top: 2%;
    right: 5%;
    transform: translateX(-5%);
}

#bocadillo img{
    min-width: 900px;
    width: 250px;
}

#mensajeIntro{
    width: 850px;
    min-width: auto;
    width: 800px;
    font-size: 2em;
    padding: 10% 6% 10% 6%;
    transform: translateX(-1%);
    transform: translateY(-5%);
}

#botonAdelante{
    min-width: 250px;
    width: 15vw;
    font-size: 4vh;
}

#botonAdelante button a{
    font-size: 40px;
}

}