* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url('../IMG/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#bg-pic{
    position: absolute; 
    z-index: -2;
    size-adjust: 100%;
}

#personaje{
    width: 50%;
    position: absolute;
    top: 50%;
    animation: movimientoPersonaje 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoPersonaje {
0% {left: 20%}

100%{ left: 5%;}
}

#personaje img{
    width: 100%;
}

#bocadillo{
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    right: -25%;
    animation: movimientoBocadillo 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBocadillo {
0% {right: -50%}

100%{right: 5%;}
}

#bocadillo img{
    width: 100%;

}

#mensajeIntro{
    width: 80%;
    font-size: 12.9px;
    text-align: center;
    padding: 4%;
    font-weight: 600;
    position: absolute;
}

#botonAdelante{
    width: 50%;
    background-color:  white;
    height: 45px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 0;
    visibility: hidden;
    animation: movimientoBoton 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBoton {
0% {top: 0%; visibility: hidden;}

70%{ top: 0%; visibility: hidden;}

100%{top: 20%; visibility: visible;}
}

#botonAdelante button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
}

#botonAdelante button a{
    color: rgb(43, 233, 59);
    font-weight: 600;
    font-size: 20px;
}
