* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url('../IMG/bg-pc.jpg');
    background-repeat: no-repeat;
    background-size: auto;

}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#bg-pic {
    position: absolute;
    z-index: -2;
    size-adjust: 100%;
}

#personaje {
    width: 60%;
    position: absolute;
    top: 35%;
    animation: movimientoPersonaje 2s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes movimientoPersonaje {
    0% {
        left: -20%;
        opacity: 0;
    }

    100% {
        left: 3%;
        opacity: 1;
    }
}

#personaje img {
    width: 100%;
}

#bocadillo {
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    right: 0%;
    animation: fadeBocadillo 2s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes fadeBocadillo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bocadillo img {
    width: 100%;

}

#mensajeIntro1 {
    width: 60%;
    height: auto;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 30%;
    align-self: center;
    justify-content: center;
    animation: mensaje1 2.5s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 2s;
    opacity: 0;
}

#mensajeIntro2{
    width: 60%;
    height: auto;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 30%;
    align-self: center;
    justify-content: center;
    animation: mensaje2 3s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 4s;
    opacity: 0;
}


@keyframes mensaje1{

    0%{
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    95%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

@keyframes mensaje2{

    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.75;
    }

    35%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

#botonAdelante {
    width: 50%;
    background-color: #FF1D0D;
    height: 45px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    bottom: -5%;
    animation: movimientoBoton 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBoton {
    0% {
        bottom: 10%;
        opacity: 0;
    }

    100% {
        opacity: 1;
        bottom: 10%;
    }
}

#botonAdelante button {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
}

#botonAdelante button a {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (min-width:768px) {

    #personaje {
        width: 30%;
        position: absolute;
        top: 35%;
        animation: movimientoPersonaje 2s ease-in-out;
        animation-fill-mode: both;
        opacity: 0;
    }
    
    @keyframes movimientoPersonaje {
        0% {
            left: -20%;
            opacity: 0;
        }
    
        100% {
            left: 20%;
            opacity: 1;
        }
    }
    
    #personaje img {
        width: 100%;
    }
    
    #bocadillo {
        width: 20%;
        right: 32%;
    }
    
    @keyframes fadeBocadillo {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    #bocadillo img {
        width: 100%;
    
    }
    
    
    @keyframes mensaje1{
    
        0%{
            opacity: 1;
        }
    
        50%{
            opacity: 1;
        }
    
        75%{
            opacity: 1;
        }
    
        100%{
            opacity: 0;
        }
    }
    
    @keyframes mensaje2{
    
        0%{
            opacity: 0;
        }
    
        25%{
            opacity: 1;
        }
    
        35%{
            opacity: 1;
        }
    
        100%{
            opacity: 1;
        }
    }
    
    #botonAdelante {
        width: 20%;
        height: 45px;
    }

}