* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url('../IMG/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#bg-pic{
    position: absolute; 
    z-index: -2;
    size-adjust: 100%;
}

#personaje{
    width: 50%;
    max-width: 200px;
    position: absolute;
/*     top: 50%; */
/*     margin-left: 15%; */
    bottom: -1.5%;
    animation: movimientoPersonaje 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoPersonaje {
0% {left: 20%}

100% {left: 0%}
}

#personaje img{
    width: 100%;
    max-width: 200px;
}

#bocadillo{
    width: 50%;
    min-width: 210px;
    max-width: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
/*     top: 30%; */
    bottom: 40%;
/*     right: -25%; */
    animation: movimientoBocadillo 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBocadillo {
0% {right: -50%}

100%{right: 5%;}
}

#bocadillo img{
    width: 100%;
}

#mensajeIntro{
    width: 70%;
    font-size: 11px;
    text-align: center;
/*     padding: 4%; */
    font-weight: 600;
    position: absolute;
}

#botonAdelante{
    min-width: 110px;
    width: 50%;
    background-color:  white;
    height: 45px;
    border-radius: 20px;
    display: flex;
    position: absolute;
/*     top: 0; */
    visibility: hidden;
    animation: movimientoBoton 2s ease-in-out;
    animation-fill-mode: both;
}

@keyframes movimientoBoton {
0% {top: 0%; visibility: hidden;}

70%{ top: 0%; visibility: hidden;}

100%{top: 15%; visibility: visible;}
}

#botonAdelante button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
}

#botonAdelante button a{
    color: rgb(43, 233, 59);
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (min-width:440px){
    #personaje{
        width: 80%;
        max-width: 220px;
        position: absolute;
        bottom: -2%;
        overflow: hidden;
    }

    #personaje img{
        width: 100%;
    }

    #bocadillo{
        max-width: 210px;
    }

    @keyframes movimientoBocadillo {
        0% {left: 180%}
        100%{left: 180px;}
    }

/*     #botonAdelante{
        right: 5%;
        bottom: 5%;
    }

    @keyframes movimientoBoton {
    0% {left: 0%; visibility: hidden;}

    70%{left: 0%; visibility: hidden;}

    100%{left: 45%; visibility: visible;}
} */
    
}

@media only screen and (min-width:768px){
    #personaje{
        width: 100%;
        max-width: none;
        position: absolute;
        bottom: -2%;
        overflow: hidden;
    }

    #personaje img{
        width: 100%;
    }

    #bocadillo{
        max-width: 250px;
    }

    @keyframes movimientoBocadillo {
        0% {left: 180%}
        100%{left: 180px}
    }

    #botonAdelante{
        right: 5%;
        bottom: 5%;
    }

    @keyframes movimientoBoton {
    0% {left: 0%; visibility: hidden;}

    70%{left: 0%; visibility: hidden;}

    100%{left: 45%; visibility: visible;}
}
    
}