* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../IMG/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

a {
    color: rgb(41, 187, 53);
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    height: 65px;
    top: 0;
    display: flex;
}

#logo{
    width: 23%;
    justify-self: center;
    align-self: center;
    margin-left: 37%
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    padding-top: 17%;
}

#contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#contenedor-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contenedor-btns button {
    width: 25%;
    background-color: rgb(10, 35, 4);
    border: solid 1px white;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-weight: 600;
}

.contenedor-pregunta {
    min-width: 70%;
    min-height: 500px;
    max-height: 800px;
    background-color: rgb(10, 35, 4);
    margin: 2%;
    padding: 5%;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    
}

.contenedor-respuestas {
    display: flex;
    padding: 2%;
    margin: 2%;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    text-align: justify;
    flex-direction: column;
    min-height: 450px;
    justify-content: space-around;
}

.respuesta{
    border: solid 1px white;
    border-radius: 10px;
    padding: 2%;

}

.active{
    background-color: white;
    color:rgb(10, 35, 4);
}

.respuesta:hover {
    background-color: white;
    ;
    color: rgb(10, 35, 4)
}

@media only screen and (min-width:768px){
/* ayuda miguel angel */
}