* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../IMG/bg-pc.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

a {
    color: rgb(41, 187, 53);
}

header {
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    display: flex;
    background-image: linear-gradient(#F3DAD8 5%, #f3dad8a3,transparent);
}

#logo-mobile {
    width: 130px;
    height: auto;
}

#logo-web {
    width: 10%;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    padding-top: 17%;
}

#contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#contenedor-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contenedor-btns button {
    width: 25%;
    background-color: #F3DAD8;
    border: solid 1px white;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-weight: 600;
}

.contenedor-pregunta {
    min-width: 70%;
    min-height: 500px;
    max-height: 800px;
    background-color: transparent;
    border: solid 1px #F3DAD8;
    margin: 2%;
    padding: 5%;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;

}

.contenedor-respuestas {
    display: flex;
    padding: 2%;
    margin: 2%;
    color: #F3DAD8;;
    border-radius: 10px;
    text-align: justify;
    flex-direction: column;
    min-height: 400px;
    justify-content: space-around;
}

.respuesta {
    border: solid 1px white;
    border-radius: 10px;
    padding: 2%;
    min-height: 70px;

}

.active {
    background-color: #F3DAD8;
    color: #FF1D0D;
}

.respuesta:hover {
    background-color: #F3DAD8;
    color: #FF1D0D;
    cursor: pointer;
}

/* ocultar contenedor resultado hasta que el usuario conteste el formulario entero */
#recomendaciones-contenedor {
    display: none;
    background-color: #F3DAD8;
    padding: 5%;
    border-radius: 10px;
    margin: 2%;
    min-width: 70%;
    max-height: 600px;
    overflow: scroll;
}


/* Estilo de la barra de desplazamiento */
#recomendaciones-contenedor::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del track (la barra en sí misma) */
#recomendaciones-contenedor::-webkit-scrollbar-track{
    background: #f1f1f1; /* Color del fondo del track */
}

/* Estilo del thumb (el deslizador) */
#recomendaciones-contenedor::-webkit-scrollbar-thumb {
    background: #888; /* Color del deslizador */
}

/* Estilo del thumb al pasar el mouse sobre él */
#recomendaciones-contenedor::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del deslizador al pasar el mouse sobre él */
}

.recomendacion-elemento{
    border: solid 1px red;
    cursor: pointer;    
}

.recomendaciones{
    display: none;
}

@media only screen and (min-width:768px) {
    /* ayuda miguel angel */
}