@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Estilos para las barras de desplazamiento */
/* Barras de desplazamiento verticales */
::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: red;
}

/* Barras de desplazamiento horizontales */
::-webkit-scrollbar:horizontal {
    height: 4px;
    background-color: #2b215fad,;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: red;
}

body {
    font-family: 'roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* Evitar el desplazamiento horizontal y vertical */
    position: relative;
    /* Asegurar que el cuerpo ocupe todo el espacio disponible */
}

#myVideo {
    position: fixed;
    /* Cambiar a posición fija para que el video se mantenga en su lugar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajustar el tamaño del video para que cubra todo el contenedor */
    z-index: -1;
    /* Asegurar que el video esté detrás de otros elementos */
}

header {
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#2b215fad, transparent);
    backdrop-filter: blur(10px);
}

#logo-mobile {
    width: 65px;
    padding: 2%;
}

#logo-web {
    width: 65px;
    height: auto;
    padding: 1.5%;

}

#logo-general {
    width: 100px;
    height: auto;
    margin-bottom: 1%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    padding-top: 17%;
}

#contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    position: fixed;
    top: 100px;
}

.contenedor-pregunta {
    backdrop-filter: blur(10px);
    background-color: #270b4d81;
    border: solid 1px #1c1546;
    padding: 5%;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    font-family: "roboto", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    min-height: 420px;
    max-height: 490px;
    width: 90%;
    align-self: center;
}

.contenedor-pregunta h2 {
    min-height: 100px;
    text-align: center;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-top: 3%;
}

.contenedor-respuestas {
    display: flex;
    color: #ffffff;
    border-radius: 10px;
    text-align: justify;
    flex-direction: column;
    min-height: 380px;
    justify-content: space-around;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    padding-bottom: 15px;
}

.respuesta {
    border-radius: 10px;
    padding: 2%;
    min-height: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.active {
    background-color: #F3DAD8;
    color: #FF1D0D;
}

.respuesta:hover {
    border-bottom: solid 1px white;
    background-color: #9440978c;
    color: #ffffff;
    cursor: pointer;
}

.contenedor-botones {
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: -30px;
    padding: 2%;
    padding-bottom: 3%;
}

.contenedor-botones button {
    border: none;
    font-weight: 600;
    padding: 2%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-bottom: solid 1px white;
    backdrop-filter: blur(10px);
    background-color: #270b4dc9;
    color: #ffffff;
    cursor: pointer;
}

.contenedor-botones button:hover {
    background-color: #ffffff;
    color: #FF1D0D;
    border-bottom: solid 2px #944097b9;
}

.popup {
    align-self: center;
    justify-content: center;
    background-color: whitesmoke;
    color: #de4e44e2;
    font-weight: 600;
    position: fixed;
    top: 250px;
    padding: 2%;
    border-radius: 10px;
    font-size: 15px;
    text-align: justify;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: solid 2px white;
}

.popup p {
    text-align: center;
}

#cerrarBtn {
    width: 10%;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10%;
    right: 5%;
}

/* ocultar contenedor resultado hasta que el usuario conteste el formulario entero */
#recomendaciones-contenedor {
    display: none;
    backdrop-filter: blur(10px);
    background-color: #270b4d81;
    border: solid 1px #1c1546;
    padding: 5%;
    border-radius: 10px;
    margin: 2%;
    min-height: 420px;
    max-height: 80vh;
    width: 90%;
    color: white;
    overflow-y: scroll;
    flex-direction: column;
    position: fixed;
    top: 100px;
    padding-top: 150px;
}

.recomendacion-elemento {
    cursor: pointer;
    padding: 2%;
    color: white;
    border-radius: 10px;
    margin: 3%;

}

.recomendacion-elemento:hover {
    border-bottom: solid 1px white;
    background-color: #9440978c;
}

.recomendacion-elemento h1 {
    font-size: 18px;
}

.recomendaciones {
    display: none;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    padding: 3%;
    flex-direction: column;
    justify-content: space-around;
}

#recomendacionItem {
    padding: 2%;
}

#recomendacionItem h2 {
    font-family: "roboto", serif;
    font-size: 17px;
}

#recomendacionItem p {
    font-family: "Rokkitt", serif;
    font-size: 15px;
    padding: 1%;
}

#puntuacionMax {
    color: white;
    padding: 1%;
    font-family: 'roboto', sans-serif;
    width: 230px;
    font-size: 14px;
    font-weight: 600;
}

#puntuacionUsuario {
    color: white;
    font-family: 'roboto', sans-serif;
    padding: 1%;
    width: 230px;
    font-size: 14px;
    font-weight: 600;
}

#mensajeAdicional {
    color: white;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    font-family: 'roboto', sans-serif;
    display: flex;
    width: 100%;
    padding: 2%;
    padding-top: 10%;
    justify-content: center;
}

#botonDescarga {
    border: none;
    font-weight: 600;
    padding: 2%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    position: absolute;
    width: 80%;
    top: 100px;
    align-self: center;
}


#botonDescarga:hover {
    border-bottom: solid 1px white;
    background-color: #9440978c;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (min-width: 597px) and (max-width: 768px) {
    header {
        height: 70px;

    }

    #logo-mobile {
        width: 70px;
        height: 80px;
        align-self: center;
    }

    #logo-web {
        width: 70px;
        height: 80px;
        align-self: center;
    }

    #logo-general {
        align-self: center;
        padding: 2px;
        height: 70px;
        margin-top: 10px;
    }

    main {
        padding-top: 8%;
    }

    #contenedor-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        position: fixed;
        top: 100px;
    }
    

    .contenedor-pregunta {
        font-size: 16px;
        font-weight: 600;
        min-height: 470px;
        max-height: 400px;
        min-width: 500px;
        display: flex;
        position: fixed;
        top: 100px;
    }

    .contenedor-pregunta h2 {
        font-size: 20px;
        text-align: center;
        align-self: center;
    }

    .contenedor-respuestas {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        padding: 3%;
    }

    .respuesta {
        min-height: 100px;
        max-height: 100px;
        padding: 2%;
        font-size: 14px;
    }

    .contenedor-botones {
        width: 80%;
        height: auto;
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: -10px;
        padding-bottom: 3%;
        position: fixed;
        bottom: 5px;
    }

    .contenedor-botones button {
        border: none;
        font-weight: 600;
        padding: 2%;
        border-radius: 20px;
        color: white;
        border-bottom: 1px solid white;
        background-color: #270b4dc9;
        backdrop-filter: blur(10px);

    }

    .contenedor-botones button:hover {
        background-color: #ffffff;
        color: #FF1D0D;
        border-bottom: solid 2px #944097b9;
    }


    .popup {
        align-self: center;
        justify-content: center;
        background-color: whitesmoke;
        color: #de4e44e2;
        font-weight: 600;
        min-width: 300px;
        min-height: 200px;
        padding: 2%;
        border-radius: 10px;
        font-size: 15px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 2px white;
        position: absolute;
        top: 250px;
    }

    .popup p {
        text-align: center;
    }

    #cerrarBtn {
        width: 10%;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10%;
        right: 5%;
    }

    #recomendaciones-contenedor {
        font-size: 16px;
        font-weight: 600;
        min-height: 470px;
        max-height: 400px;
        min-width: 500px;
        position: fixed;
        top: 100px;
        color: white;
        overflow-y: scroll;
        top: 80px;
    }

    .recomendacion-elemento {
        margin: 2%;
    }

    .recomendacion-elemento h1 {
        font-size: 20px;
    }


    #recomendacionItem h2 {
        font-family: "roboto", serif;
        font-size: 17px;
    }

    #recomendacionItem p {
        font-family: "Rokkitt", serif;
        font-size: 20px;
        padding: 1%;
    }

    #puntuacionMax {
        color: white;
        font-family: 'roboto', serif;
        position: fixed;
        top: 30px;
        text-align: left;
        width: 200px;
    }

    #puntuacionUsuario {
        text-align: left;
        color: white;
        font-family: 'roboto', serif;
        position: fixed;
        top: 60px;
        width: 200px;
    }


    #mensajeAdicional {
        color: white;
        width: 300px;
        padding: 1%;
        position: fixed;
        top: 25px;
        margin-right: 20px;
    }

    #botonDescarga {
        padding: 1%;
        top: 120px;
        width: 80%;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        text-align: center;
        position: fixed;
    }



}




@media only screen and (min-width: 769px) and (max-width: 1600px) {
    header {
        height: 100px;

    }

    #logo-mobile {
        width: 100px;
        height: 110px;
        align-self: center;
    }

    #logo-web {
        width: 100px;
        height: 110px;
        align-self: center;
    }

    #logo-general {
        align-self: center;
        padding: 2px;
        height: 90px;
        width: 100px;
        margin-top: 10px;
    }

    main {
        padding-top: 8%;
    }

    #contenedor-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        position: fixed;
        top: 100px;
    }
    

    .contenedor-pregunta {
        font-size: 16px;
        font-weight: 600;
        min-height: 470px;
        max-height: 400px;
        min-width: 500px;
        max-width: 800px;
        display: flex;
        position: fixed;
        top: 100px;
    }

    .contenedor-pregunta h2 {
        font-size: 20px;
        text-align: center;
        align-self: center;
        position: fixed;
        top: 30px;
        padding: 2%;
    }

    .contenedor-respuestas {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        padding: 3%;
        position: fixed;
        top: 130px;
        width: 90%;
        align-self: center;
    }

    .respuesta {
        min-height: 100px;
        max-height: 100px;
        padding: 2%;
        font-size: 14px;
    }

    .contenedor-botones {
        width: 80%;
        height: auto;
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: -10px;
        padding-bottom: 3%;
        position: fixed;
        bottom: -10px;
    }

    .contenedor-botones button {
        border: none;
        font-weight: 600;
        padding: 2%;
        border-radius: 20px;
        color: white;
        border-bottom: 1px solid white;
        background-color: #270b4dc9;
        backdrop-filter: blur(10px);

    }

    .contenedor-botones button:hover {
        background-color: #ffffff;
        color: #FF1D0D;
        border-bottom: solid 2px #944097b9;
    }


    .popup {
        align-self: center;
        justify-content: center;
        background-color: whitesmoke;
        color: #de4e44e2;
        font-weight: 600;
        min-width: 300px;
        min-height: 200px;
        padding: 2%;
        border-radius: 10px;
        font-size: 15px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 2px white;
        position: absolute;
        top: 250px;
    }

    .popup p {
        text-align: center;
    }

    #cerrarBtn {
        width: 10%;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10%;
        right: 5%;
    }

    #recomendaciones-contenedor {
        font-size: 16px;
        font-weight: 600;
        min-height: 470px;
        max-height: 400px;
        min-width: 500px;
        max-width: 800px;
        position: fixed;
        top: 100px;
        color: white;
        overflow-y: scroll;
        position: fixed;
        top: 130px;
        width: 90%;
        align-self: center;
    }    

    .recomendacion-elemento {
        margin: 2%;
    }

    .recomendacion-elemento h1 {
        font-size: 20px;
    }


    #recomendacionItem h2 {
        font-family: "roboto", serif;
        font-size: 17px;
    }

    #recomendacionItem p {
        font-family: "Rokkitt", serif;
        font-size: 20px;
        padding: 1%;
    }

    #puntuacionMax {
        color: white;
        font-family: 'roboto', serif;
        position: fixed;
        top: 30px;
        text-align: left;
        width: 200px;
    }

    #puntuacionUsuario {
        text-align: left;
        color: white;
        font-family: 'roboto', serif;
        position: fixed;
        top: 60px;
        width: 200px;
    }


    #mensajeAdicional {
        color: white;
        width: 300px;
        padding: 1%;
        position: fixed;
        top: 25px;
        margin-right: 20px;
    }

    #botonDescarga {
        padding: 1%;
        top: 120px;
        width: 80%;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        text-align: center;
        position: fixed;
    }
}