* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}


.fondo-interactivo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    position: relative;
    animation: cambiofondo 5s ease;
    animation-fill-mode: both;
}

@keyframes cambiofondo {
    0% { background-color: black;}

    100%{ background-color: white;}
}

.logo {
    background: url('ruta-de-tu-logo.png') no-repeat center center;
    animation: fade-in 2s ease-in-out;
    animation-fill-mode: both;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    0% {

        opacity: 0;

    }

    50% {
        opacity: 1;
        width: 50%;
    }

    100% {
        rotate: 360deg;
        width: 90%;
    }
}

.logo img{
    width: 60%;
}

.contenedor-btn{
    background-color: rgb(43, 233, 59);
    animation: movebtn 5s ease-in-out;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute; 
    bottom: 50px;
    left: -500px;
    animation-fill-mode: both;
    border-radius: 25px;
}

@keyframes movebtn {
    from {left: -500px;}
    to {left: 27%; }
}

.contenedor-btn a{
    color: white;
    font-weight: 800;
}






@media only screen and (min-width:768px){

    @keyframes movebtn {
        from {left: -500px;}
        to {left: 45%; }
    }
}